/* Styling specific for about.html */
.masthead h1, h2 {
  font-family: 'Lora', serif;
  font-weight: bold;
}

.masthead h1 {
  font-size: 2.5rem;
  line-height: 2.5rem;
}


.about p {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

.about-section h5 {
  font-weight: 600;
  text-transform: uppercase;
}

.highlight-blue {
  background-image: linear-gradient(120deg, #2ec7eb 0%, #2ec7eb 100%);
}

.underline-highlight:link {
  text-decoration: none;
  color: black;
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 100%;
  transition: background-size 500ms ease;
}

.underline-highlight:focus, .underline-highlight:hover {
  color: black;
  background-size: 100% 100%;
}

.edu-link {
  font-weight: normal !important;
  color: #212529 !important;
  border-bottom: 2px dashed #c9c3bd;
  padding-bottom: 2px;
}

.edu-link:hover {
  border-bottom: 2px dashed #f2cac6;
}

.edu-col {
  text-align: right;
}

.experience-title {
  font-weight: 600;
  margin-bottom: 0;
}

.experience-title span {
  font-weight: normal;
  opacity: 0.5;
}

.experience-info {
  margin-bottom: 2rem;
  font-size: 1rem;
}

.volunteer {
  color: rgba(29, 29, 29, 0.4);
}

.blob-container {
  width: 500px;
  height: 600px;
}

.blob1 {
  transform: scale(3.0);
}

.blob2 {
  transform: scale(0.6);
}

.about-section {
  padding: 10rem 0;
}

.about-section h4 {
  font-family: 'Lora', serif;
  font-weight: bold;
}

.profile-sec {
  position: relative;
}

.profile-sec .img-fluid {
  height: 65%;
  border-radius: 50%;
  max-width: 500px;
  margin-bottom: 10%;
}

.img-decor {
  position: absolute;
  color: #fcd200;
  font-weight: bolder;
  font-size: 8rem;
  z-index: 1;
}

.decor1 {
  top: 0rem;
  left: 5.5rem;
}

.decor2 {
  top: 17rem;
  right: 1rem;
}

.decor3 {
  top: 18rem;
  right: 3rem;
}